$base-color: #A3E3F9;
$accent-color: #e05b43;
$dark-grey: #636F85;
$light-grey: #D4D7DD;
$white: white;


body{
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
  background: $white;
  color: $dark-grey
}
.nav{
  font-size: 1.7em;
}

hr{
  border: 1px solid $dark-grey;
}

.anchor{
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -50px; /*same height as header*/
  visibility: hidden;
}

.header {
  background: $white;
}

.border{
  border: 2px solid black;
}

.about{
  background: $base-color;
}

.my-container{
  width: 100%;
  display: flex;
  flex-wrap :wrap;
}
.project{
  width: 33.333%;
  padding: 10px;
  img{
    cursor: pointer;
    width: 100%;
    height: 35vh;
  }
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.project-image{
  position: relative;
}
.project-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $base-color;
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}
.project-hover:hover {
  opacity: 0.7;
}
.project-hover:focus {
  opacity: 0.7;
}

.project-hover-content {
  position: absolute;
  top: 35%;
  text-align: center;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8em;
  a {
    color: black;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.icon{
  color: $dark-grey;
  padding-left: 20px;
  transition: color, 0.5s ease-out;
  &:hover {
    color: $accent-color;
  }
}

.skills-icon{
  min-width: 115px;
  max-width: 120px;
  margin: 9px;
}

.footer-copyright{
  padding-top: 10px;
}
//

// @media screen and (min-width: 460px) and (max-width: 992) {
//   .project{
//     width: 50%;
//     // margin-top: 20px;
//   }
// }

@media screen and (max-width: 780px) {
  .project{
    cursor: none;
    width: 100%;
    margin-top: 20px;
  }
}
