$base-color: #A3E3F9;
$accent-color: #FFB2A4;
$dark-grey: #636F85;
$light-grey: #D4D7DD;
$white: white;


body{
  padding-top: 50px;
  font-family: 'BioRhyme', serif;
  background: $white;
  color: $dark-grey
}

.header {
  background: $white;
}

.border{
  border: 2px solid black;
}

.about{
  background: $base-color;
}

.icon{
  color: $dark-grey;
  padding-left: 20px;
  font-size: 2.4em;
}

.footer-copyright{
  padding-top: 10px;
}
